.center {
	position: absolute;
	top: 50%;left: 50%;
	transform: translate(-50%, -50%);
}

input[type=checkbox] {
	display: none;
}

label.checkbox-wrap {
	display: flex;
	align-items: center;
	font-family: roboto;
}

label.checkbox-wrap span {
	display: inline-block;
	box-sizing: border-box;
	width: 20px;
	height: 20px;
	padding: 2px;
	border: 2px solid var(--tc-optional-l2);  
	margin-right: 10px;
	cursor: pointer;
}

label.checkbox-wrap span::before {
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	transform: scale(0, 0);
	background-color: var(--tc-optional-l2);  
	transition: transform 0.1s linear;
}

input[type=checkbox]:checked + span::before {
	transform: scale(1, 1);
}

input[type=checkbox]:disabled + span {
	cursor: not-allowed;
  border-color: #ddd;
}











