@import url('https://fonts.googleapis.com/css?family=Roboto');
  

* {
  font-family: roboto;
}

body, html {
  padding: 0px;
  margin: 0px;
  background-color: #fefefe;
  --tc-main: #673AB7;
  --tc-optional: #512DA8;
  --tc-optional-l1: #5730b5;
  --tc-optional-l2: #9072d9;
  --tc-accent: #2196F3;
}

#appWrapper {
  padding: 10px 20px;
  display: grid;
  grid-template-columns: 980px auto;
  grid-column-gap: 25px;
}

canvas {
  display: block;
  background-color: white;
  box-shadow: 1px 4px 10px #ddd;
}

div#canvasDiv {
  position: relative;
  align-self: center;
}

#editDiv > #main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

._btn {
  padding: 10px 12px;
  display: inline-block;
  background-color: var(--tc-main) ;
  color: white;
  font-family: sans-serif;
  font-size: 17px;
  font-weight: 600;
  border: none;
  outline: none;
  border-radius: 4px; 
  box-shadow: 1px 2px 20px #ededed;
  cursor: pointer;
  text-align: center;
}

._btn:disabled {
  background-color: #eee;
  color: #222;
  cursor: not-allowed;
}

#editDiv > input[type=file] {
  display: none;
}

.toast {
  position: fixed;
  transition: all 0.4s ease-in-out;
  bottom: -100px;
  padding: 12px 17px;
  background-color: #373737;
  color: white;
  font-size: 16px;
  font-weight: 500;
  left: 30px;
  font-family: 'Roboto', sans-serif;
  word-spacing: 2px;
  border-radius: 3px;
}

.toast.active {
  bottom: 40px;
}

.toast button {
  margin-left: 10px;
  border-radius: 50%;
  padding: 6px;
  border: none;
  outline: none;
  color: var(--tc-accent);
  /* color: #ffea00; */
  background-color: transparent;
  font-size: 15px;
  text-align: center;
  cursor: pointer;
}